In [1]:
import pandas as pd
import numpy as np

In [2]:
CSV_ROOT = 'C:\dev_folder\dip\TensorFlow\Data voucher\Mirint data\data\weather\날씨 일별 정보_2014~2018.csv'

data_weather = pd.read_csv(CSV_ROOT)
data_weather = data_weather[['위치', '시간', '평균 기온', '최고 기온', '최저 기온',  '강수량', '풍속', '습도']]

data_weather.head()

   위치          시간  평균 기온  최고 기온  최저 기온  강수량   풍속    습도
0  속초  2014-01-01    6.6    8.9    4.1  NaN  5.4  31.3
1  속초  2014-01-02    4.0    7.0   -0.3  NaN  1.8  31.9
2  속초  2014-01-03    6.6    9.4    2.4  NaN  3.0  40.0
3  속초  2014-01-04    1.2    3.8    0.0  7.4  1.8  87.4
4  속초  2014-01-05    0.4    2.7   -2.0  0.0  1.7  90.0

In [3]:
print(data_weather['위치'].unique())

['속초' '북춘천' '철원' '동두천' '파주' '대관령' '춘천' '백령도' '북강릉' '강릉' '동해' '서울' '인천'
 '원주' '울릉도' '수원' '영월' '충주' '서산' '울진' '청주' '대전' '추풍령' '안동' '홍천' '제천' '보은'
 '천안' '보령' '부여' '금산' '부안' '임실' '정읍' '남원' '장수' '고창군' '영광군' '김해시' '순창군'
 '북창원' '양산시' '보성군' '강진군' '장흥' '상주' '포항' '군산' '대구' '전주' '울산' '창원' '광주' '부산'
 '통영' '목포' '여수' '흑산도' '완도' '고창' '순천' '홍성' '제주' '고산' '성산' '서귀포' '진주' '강화'
 '양평' '이천' '인제' '해남' '고흥' '의령군' '함양군' '광양시' '진도군' '봉화' '영주' '문경' '청송군'
 '영덕' '의성' '구미' '영천' '경주시' '거창' '합천' '밀양' '산청' '거제' '남해']

In [4]:
loc_list = {
    '강릉' : '강원'
    , '속초' : '강원'
    , '북춘천' : '강원'
    , '동두천' : '경기'
    , '수원' : '경기'
    , '파주' : '경기'
    , '거창' : '경남'
    , '의령' : '경남'
    , '진주' : '경남'
    , '경주' : '경북'
    , '구미' : '경북'
    , '영주' : '경북'
    , '순천' : '전남'
    , '목포' : '전남'
    , '보성군' : '전남'
    , '서귀포' : '제주'
    , '고창군' : '전북'
    , '군산' : '전북'
    , '전주' : '전북'
    , ' 금산' : '충남'
    , '보령' : '충남'
    , '부여' : '충남'
    , '보은' : '충북'
    , '제천' : '충북'
    , '청주' : '충북'
}
sido_list = ['강원','경기','경남','경북','광주','대구','대전','부산','서울','세종','울산','인천','전남','전북','제주','충남','충북']

data_weather['위치'] = data_weather['위치'].replace(loc_list)
data_weather_sido = data_weather[data_weather['위치'].isin(sido_list)]
data_weather_sido.head()

   위치          시간  평균 기온  최고 기온  최저 기온  강수량   풍속    습도
0  강원  2014-01-01    6.6    8.9    4.1  NaN  5.4  31.3
1  강원  2014-01-02    4.0    7.0   -0.3  NaN  1.8  31.9
2  강원  2014-01-03    6.6    9.4    2.4  NaN  3.0  40.0
3  강원  2014-01-04    1.2    3.8    0.0  7.4  1.8  87.4
4  강원  2014-01-05    0.4    2.7   -2.0  0.0  1.7  90.0

In [5]:
data_weather_avg = data_weather_sido.groupby(['위치','시간']).mean()
data_weather_avg.head()
save_name = 'weather.csv'
data_weather_avg.to_csv(save_name, mode = 'w')

In [6]:
data_weather_avg.reset_index()
data_weather_avg.head()

               평균 기온  최고 기온  최저 기온   강수량    풍속     습도
위치 시간
강원 2014-01-01   6.20   8.50   3.15  0.00  4.35  31.95
   2014-01-02   4.35   7.55  -0.15   NaN  2.10  28.75
   2014-01-03   6.60  10.00   2.10   NaN  3.10  34.95
   2014-01-04   1.10   3.30   0.05  8.20  1.55  86.40
   2014-01-05   0.70   3.45  -1.95  0.05  1.50  87.75