In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
all_data = pd.read_csv('all_in_one.csv')
all_data['일교차'] = all_data['최고 기온'] - all_data['최저 기온']
# all_data['인원수'] = all_data['인원수'].round(0)
all_data['평균 기온'] = all_data['평균 기온'].round(1)
all_data['일교차'] = all_data['일교차'].round(1)
all_data['강수량'] = all_data['강수량'].round(2)
all_data['풍속'] = all_data['풍속'].round(2)
all_data['습도'] = all_data['습도'].round(2)
all_data['date'] = pd.to_datetime(all_data['date'], format='%Y-%m-%d')
all_data['day name'] = all_data['date'].dt.day_name()
all_data['강수량'].fillna(-1, inplace =True)
all_data['강수량'] = all_data['강수량'] + 1
all_data.drop(['Unnamed: 0','최고 기온', '최저 기온'],axis = 1,inplace = True)

all_data.head(n=10)

,시도,인원수,date,년,월,일,SO2,O3,NO2,PM10,PM25,평균 기온,강수량,풍속,습도,일교차,day name
0,강원,3.0,2014-01-01,2014,1,1,0.009136,0.023676,0.014603,111.246212,NaN,6.2,1.00,4.35,31.95,5.4,Wednesday
1,강원,24.0,2014-01-02,2014,1,2,0.007581,0.018956,0.016050,50.683712,NaN,4.4,0.00,2.10,28.75,7.7,Thursday
2,강원,21.0,2014-01-03,2014,1,3,0.009411,0.015014,0.023754,62.465530,NaN,6.6,0.00,3.10,34.95,7.9,Friday
3,강원,14.0,2014-01-04,2014,1,4,0.006177,0.013977,0.019977,58.992424,NaN,1.1,9.20,1.55,86.40,3.2,Saturday
4,강원,4.0,2014-01-05,2014,1,5,0.006097,0.014955,0.018314,45.530303,NaN,0.7,1.05,1.50,87.75,5.4,Sunday
5,강원,18.0,2014-01-06,2014,1,6,0.008413,0.016176,0.020011,63.118939,NaN,0.6,0.00,1.80,59.90,9.3,Monday
6,강원,23.0,2014-01-07,2014,1,7,0.009857,0.015714,0.025610,79.139226,NaN,4.6,0.00,1.95,50.35,8.8,Tuesday
7,강원,15.0,2014-01-08,2014,1,8,0.008985,0.019766,0.022052,79.901136,NaN,4.4,0.00,2.65,55.95,6.9,Wednesday
8,강원,15.0,2014-01-09,2014,1,9,0.003860,0.028699,0.009425,27.633712,NaN,-3.2,0.00,2.90,25.25,7.2,Thursday
9,강원,10.0,2014-01-10,2014,1,10,0.006794,0.023129,0.016812,38.140909,NaN,-2.0,0.00,3.15,27.70,9.7,Friday